.man-detail {
    background-color:lavender;
    border-radius: 15px;
}
.activity-img {
    width: 70px;
    border-radius: 60%;
}
.title {
    font-size: 14px;
    font-weight: 300;
}
.break-time {
    background-color: #ffff;
    margin: 0px 10px;
}
.exercise-time {
    background-color:lavender;
    padding: 8px;
    border-radius: 10px;
}